@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: "Roboto";
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

button {
    height: 50px;
    width: 150px;
}

.welcome {
    font-size: 50px;
}

.login-page {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 23%;
}

.login-info {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.words {
    font-size: 20px;
}

.register-info {
    display: flex;
    flex-direction: column;
}

.login {
    position: fixed;
    left: 15%;
}

.register {
    position: fixed;
    left: 65%;
}

.vl {
    border-left: 2px solid grey;
    height: 530px;
    position: fixed;
    left: 50%;
    top: 100px;
}

.input {
    border: none;
    outline: none;
}


.line {
    width:330px;
    height:1.5px;
    border-width:0;
    color:gray;
    background-color:gray;
}

.submit-box {
    width: 120px;
    height: 50px;
    font-size: 20px;
    margin: auto;
    margin-top:20px;
}

.survey-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.survey {
    font-size: 50px;
    width: 70%
}

.survey-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 700;
}

.survey-description {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 50px;
}

.survey-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-left: 100px;
}

.rating-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.count-area {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 10px;
}

.click-number {
    font-size: 25px;
}

.survey-count-box {
    width: 50px;
    height: 40px;
    font-size: 30px;
    margin: auto;
    margin-left: 40px;
    margin-right: 80px;
    border: none;
}

.spacer {
    margin: 100px;
}